In [1]:
# importing libraries pandas and numpy
import pandas as pd
import numpy as np

In [10]:
# loading dataset with help of pandas
df = pd.read_csv('E:\web scraping files\spam.csv', encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [15]:
# checking the columns of dataset
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [21]:
# to get the information about the null values count and dtype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [22]:

# creating another column by name of spam to store the spam and not spam mail in form of 0 and 1
df["spam"] = df["v1"].apply(lambda x:1 if x=="spam" else 0)

In [24]:
# check the data after creating spam column
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,spam
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,0
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,1
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,0

In [25]:
# importing sklearn for train test split
from sklearn.model_selection import train_test_split

In [26]:
# creating variable of train and test so that splitted values were stored in it.
x_train,x_test,y_train,y_test = train_test_split(df["v2"],df["spam"],test_size=.2)

In [28]:
# get the shape of x_train
x_train.shape

(4457,)

In [29]:
# shape of x_test
x_test.shape

(1115,)

In [30]:
# importing pipeline from sklearn
from sklearn.pipeline import Pipeline

In [32]:
# importing libarary for converting text into matrices
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
# importing alogrithm and selecting multinomialNB because data is discrete of discrete.
from sklearn.naive_bayes import MultinomialNB

In [36]:
# creating pipeline, inside pipeline including the different components.
Pipeline = Pipeline([
    ("vectorizer",CountVectorizer()),
    ("nb",MultinomialNB())
])

In [37]:
# trainig the model with the train dataset of x and y
Pipeline.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [40]:
# we are passing the input in variable "DATA" we are having one is spam and another one is not spam
data=["For my family happiness..",
      "New TEXTBUDDY Chat 2 horny guys in ur area 4 just 25p Free 2 receive Search postcode or at gaytextbuddy.com. TXT ONE name to 89693"]

In [41]:
# performing prediction above "DATA".
Pipeline.predict(data)

array([0, 1], dtype=int64)

In [43]:
# check the accuracy score of model.
Pipeline.score(x_test,y_test)*100

98.38565022421525